# Python artifacts
.venv
venv/
__pycache__/

kloze-462217-50b0b9fd3ca4.json

# Local environment & config files
.env
.env.local
.DS_Store

# Logs & temp files
*.log
*.gz
*.tgz
.tmp
.cache

# Git & Editor files
.idea
.vscode